/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap : 5px
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li a{
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 80px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2, #formulaire_connection h2 {
	text-align: center;
	margin-bottom: 1em;
}
/*  *******************************************************FILTRE*********************************** */
.divFiltres{
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
	
}

.divFiltres button{
	font-family: 'Syne';
	background-color: white;
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 700;
	border-radius: 20px;
	border-style: none;
	border: #1D6154 1px solid;
	color: #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact #formulaire_connection {
	width: 50%;
margin: auto;
}
#formulaire_connection{
	width: 35%;
margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #formulaire_connection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #formulaire_connection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #formulaire_connection label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.mdpoublie {
	text-align: center;
	color: black;
}
#formulaire_connection{
	margin-top: 150px;
}
html{
	background-color: #FFFEF8;
	;
}
html,
body {
	height: 100%
}
body{
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
::placeholder{
	font-family: 'Work Sans';
	font-size: 0.7em;
}

#h2modif{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap : 5px; 
	margin-top: 100px;
	margin-bottom: 20px;
}

#modifier{
	padding-top: 8px;	
	text-decoration : none;
	color: black
}
.fa-pen-to-square{
	padding-top: 8px;
}

#h2modif .titreMesProjets{
	padding-right: 20px;
}


/* Modale */
*{box-sizing: border-box;}
.modal{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, 0.8) ;
}

.modalConteneur{
	background-color: white;
	width: 630px; 
	padding: 20px;
	overflow: auto;


}
/* bouton modal */
.button-close {
	display: flex;
	justify-content: space-between;
}

.button-close .Modalclose{
	background-color: white;
	border : none
}

.fa-arrow-left, .fa-xmark{
	font-size: 1.5em;
}



/* gallerie modal */
.modalTitle{
	font-size: 1.625em;
	color : black;
	text-align: center;
	padding-bottom: 40px;
}

.modal1 img{
	
	height: 103px;
}

.photoGalleryModal{
display:grid;
grid-template-columns: 77px 77px 77px 77px 77px;
gap : 10px;
justify-content: center;
}

.photoGalleryModal a{
	text-decoration: none;
	color: black;
	font-size: 0.75em;
}

.fa-trash-can{
	color: white;
}
.photoGalleryModal .buttonTrash{
	background-color: black;
	border : none;
	position: relative;
    left: 50px;
    top: 20px;

}

.conteneurButtonAjout .buttonAjoutPhoto, .conteneurButtonValider .buttonValider{
	
	font-family: 'Syne';
	background-color: #1D6154;
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 700;
	border-radius: 20px;
	border-style: none;
	border: #1D6154 1px solid;
	color: white;
	width: 237px;
}

.conteneurButtonAjout, .conteneurButtonValider{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.modal1 hr{
	margin-top: 30px;
	margin-bottom: 20px;
	margin-inline-start: 80px;
	margin-inline-end: 80px;
}

#Log{
	cursor: pointer;
}

#BarreNoir{
	
	background-color: black;
	font-size: 14px;
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 20px;
	width : 100vw;
	margin-left : calc(-1 * ((100vw - 100%) / 2));
}

.fa-pen-to-square{
	padding-right: 18px;
}